.reviews {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.reviews__item {
  display: block;
  margin: 8px;
  padding: 8px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.reviews__title {
  margin: 0 0 .6em;
}
