.container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.card {
  background: #ffffff;
  border-width: 2px;
  border-style: solid;
  width: 200px;
  height: 200px;
  padding-top: 25px;
  padding-left: 25px;
  margin: 25px 25px 25px 0;
  color: #111111;
  font-weight: bold;
}

.icon path {
  fill: black;
}
